<div class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <div id="chart"></div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <br/><br/>
    <span>Click label below to toggle display.</span>
    <br/><br/>
    <span>Zoom by mouse wheel event and slide by drag.</span>
  </div>
</div>
