<div class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <div id="chart"></div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <button id="data1" class="btn btn-primary btn-success">Show Data1</button>
    <br/><br/>
    <button id="data2" class="btn btn-primary btn-success">Show Data2</button>
    <br/><br/>
    <h3>Zoom by mouse wheel event and slide by drag.</h3>
  </div>
</div>
